td,
th {
  border: 1px solid black;
  border-left: none;
  border-right: none;
  text-align: left;
  padding: 2px;
}

table {
  border: 1px solid black;
  width: 50%;
  border-collapse: collapse;
}

th {
  background-color: #dc143c;
  color: white;
}

tr:nth-child(odd) {
  background-color: #dcdcdc;
}
